{% load staticfiles %}<!DOCTYPE html>
<html lang="es">
	<head>
		
		<meta charset="utf-8" />
		<title>{{ page_title }}</title>

		<meta name="description" content="{{ page_description }}" />
		<style type="text/css">
			  @page{
			  	size:A4;
			  }

			  html, body {
				    width:100%;
				    height:100%;
				    margin: 0px;
				    padding: 0;
				    font-family: sans-serif;
    				font-size: small;
				  }
				
			  table{
			  	width:100%;
			  	border-spacing: 1px;
    			border-collapse: collapse;
    			font-size: smaller;
    			page-break-inside:avoid;
    			page-break-after:always; 
    			border: solid 1px;	
			  }


			  tr.encabezado th{
			      border: solid 1px;
			     
			  }

			  tr.transporte td{
			  	font-weight: bold;
			  }

			  div.header{
			  	height: 1.5cm;
			  	page-break-before:always; 
			  	page-break-inside:avoid;
			  	page-break-after:avoid;
			  }
			  
			  td,th{
			  	border-spacing: 1px;
			  	border: 1px;
			  	border-left: solid 1px;
			  	border-right: solid 1px;
			  }

			  td{
			  	font-size: smaller;
			  }
			  
			  tr.apertura_asiento{
			  	border-top: solid 1px;	
			  }

			 

			  td.align-right{
			  	text-align: right;
			  }
			  
			  td:nth-child(1),th:nth-child(1),
			  td:nth-child(3),th:nth-child(3),
			  td:nth-child(4),th:nth-child(4)
			  {
			  	width:100px;
			  	white-space: nowrap;
			  }

			  table tfoot{display:table-footer-group;}
			   

		</style>
	</head>

	<body>
		{% block page-content %}
		{% endblock %}
	</body>
</html>