{% load contable_extras %}
{% if tipo == "encabezado" %}
<tr class="encabezado">
	<th>Fecha</th>
	<th>Cuentas</th>
	<th class="debe">Debe</th>
	<th class="haber">Haber</th>
</tr>
{% elif tipo == "transporte" %}
<tr class="transporte">
	<td></td>
	<td class="align-right">
		Transporte
	</td>
	<td class="align-right">
		{{line.5|format_dinero}}
	</td>
	<td class="align-right">
		{{line.6|format_dinero}}
	</td>
</tr>
{% elif line.4 == "asiento_numero" %}
<tr class="apertura_asiento">
	<th class="nowrap">{{line.0}}</th>
	<th class="align-center">
		Asiento N° {{line.1}}
	</th>
	<th></th>
	<th></th>
</tr>
{% elif line.4 == "registroasiento_debe" %}
<tr>
	<td></td>
	<td>
		{{line.1}}
	</td>
	<td class="align-right">
		{{line.2|hideZero|format_dinero}}
	</td>
	<td class="align-right">
	</td>
</tr>
{% elif line.4 == "registroasiento_haber" %}
<tr>
	<td></td>
	<td>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{line.1}}
	</td>
	<td class="align-right">
	</td>
	<td class="align-right">
	{{line.3|hideZero|format_dinero}}
	</td>
</tr>
{% elif line.4 == "asiento_descripcion" %}
<tr class="cierre_asiento">
	<td></td>
	<td>{{line.1}}
	</td>
	<th class="align-right"></th>
	<th class="align-right"></th>
</tr>
{% endif %}
