{% load contable_extras %}
	<table id="mayor-table" class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>Fecha</th>
				<th>Asiento</th>
				<th>Cuenta</th>
				<th>Descripción</th>
				<th>Debe</th>
				<th>Haber</th>
				<th>Acumulado</th>
			</tr>
			
			<tr>
				<td colspan="4" class="align-right">Transporte</td>
				<td class="align-right">{{transporte_start.debe|format_dinero}}</td>
				<td class="align-right">{{transporte_start.haber|format_dinero}}</td>
				<td class="align-right">{{transporte_start.resultado|format_dinero}}</td>
			</tr>
			
			

		</thead>
		<tbody>
		{% for asiento in objects_page %}
		<tr>
			<td>
				<a href="{% url 'contable:libro-diario:list' asiento.asiento.ejercicio.id %}?fd={{asiento.asiento.imputacion|urldate}}">{{asiento.asiento.imputacion}}</a>
			</td>			
			<td>
				<a href="{% url 'contable:libro-diario:list' asiento.asiento.ejercicio.id %}?id={{asiento.asiento.id}}"> {{asiento.asiento.numero}} ({{asiento.asiento.ejercicio}})</a>
			</td>			
			<td>
				<a href="{% url 'contable:libro-mayor:list' asiento.cuenta.id %}">
					{{asiento.cuenta.codigo}} - {{asiento.cuenta.nombre}}
				</a>
			</td>
			<td>
				{{asiento.asiento.descripcion}}
			</td>
			
			<td class="align-right">
				{{asiento.saldo.debe|hideZero|format_dinero}}
			</td>

			<td class="align-right">
				{{asiento.saldo.haber|hideZero|format_dinero}}
			</td>

			<td class="align-right">
				{% if asiento.saldo_acumulado < 0 %}
				<span style="color:#F00">
					{{asiento.saldo_acumulado|format_dinero}}
				</span>
				{% else %}
					{{asiento.saldo_acumulado|format_dinero}}
				{% endif %}
			</td>
		</tr>
		{% endfor %}
		</tbody>
		<tfoot>	
				<td colspan="4" class="align-right">Transporte</td>
				<td class="align-right">{{transporte_end.debe|format_dinero}}</td>
				<td class="align-right">{{transporte_end.haber|format_dinero}}</td>
				<td class="align-right">
					{% if transporte_end.resultado < 0 %}
						<span style="color:#F00">
					{% endif %}
					{{transporte_end.resultado|format_dinero}}
					{% if transporte_end.resultado < 0 %}
						</span>
					{% endif %}
				</td>
			
		</tfoot>
	</table>
