{% extends "contable/base_print.html" %}
{% load contable_extras %}
{% block page-content %} 


{% for line in lines %}
	{% if forloop.first %}
		<div class="header"></div>
		<table>
			<tbody>
				{% include "contable/libro_diario_print_row.html" with tipo="encabezado" %}
				{% include "contable/libro_diario_print_row.html" with tipo="transporte" %}
	{% endif %}
				{% include "contable/libro_diario_print_row.html" %}

	{% if forloop.counter|divisibleby:73 %}
			{% include "contable/libro_diario_print_row.html" with tipo="transporte" %}
		</tbody>
	</table>
	<div class="header"></div>
	<table>
			<tbody>
				{% include "contable/libro_diario_print_row.html"  with tipo="encabezado" %}
				{% include "contable/libro_diario_print_row.html" with tipo="transporte" %}
	{% endif %}

	{% if forloop.last %}
			{% include "contable/libro_diario_print_row.html" with tipo="transporte" %}
			</tbody>
		</table>
	{% endif %}	
{% endfor %}
{% endblock %}
