{% load contable_extras %}
<table id="simple-table" class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th width="1">Fecha</th>
			<th>Asiento</th>
			<th width="100px">Debe</th>
			<th width="100px">Haber</th>
		</tr>
	</thead>
	<tbody>
		{% if objects_page %}
		{% for asiento in objects_page %}
		<tr>
			<th nowrap><a href="?fd={{asiento.imputacion|urldate}}">{{asiento.imputacion}}</a></th>
			<th class="align-center">
				{% if asiento.tipo > 0%}
				<span class="label label-success label-white middle">{{asiento.get_tipo_display}}
				</span><br/>
				{% endif %}Asiento N° {{asiento.numero}}
				{% if perms.contable.add_asiento or perms.contable.change_asiento or  perms.contable.delete_asiento  %}
				<div class="btn-group">
					<button data-toggle="dropdown" class="btn btn-success btn-minier dropdown-toggle">
					<span class="ace-icon fa fa-caret-down icon-only"></span>
					</button>
					<ul class="dropdown-menu">
						{% if perms.contable.add_asiento %}
						<li>
							<a href="{% url 'contable:asiento-create' asiento.ejercicio.pk %}">Agregar Nuevo</a>
						</li>
						{% endif %}
						{% if perms.contable.change_asiento %}
						<li>
							<a href="{% url 'contable:asiento-update' asiento.pk %}">Editar</a>
						</li>
						{% endif %}
						{% if perms.contable.delete_asiento %}
						<li>
							<a href="{% url 'contable:asiento-delete' asiento.pk %}">Eliminar</a>
						</li>
						{% endif %}
						{% if perms.contable.change_asiento %}
						<li>
							<a href="{% url 'contable:asiento-resort' asiento.ejercicio.pk %}">Reordenar Todos</a>
						</li>
						{% endif %}
						{% if perms.contable.change_asiento %}
							{% for e in ejercicio.get_others %}
							<li>
							<a href="{% url 'contable:asiento-move' asiento.pk e.pk %}">Mover al ejercicio: {{e}}</a>
							</li>
							{% endfor %}
						{% endif %}
					</ul>
				</div>
				{% endif %}
			</th>
			<th></th>
			<th></th>
		</tr>
		{% for reg in asiento.registroasiento_set|filter:'debe__gt=0'|order_by:'cuenta__codigo' %}
		<tr>
			<td></td>
			<td>
				<a href="{% url 'contable:libro-mayor:list' reg.cuenta.id %}">{{reg.cuenta.codigo}} - {{reg.cuenta.nombre}}</a>
			</td>
			<td class="align-right">
				{{reg.saldo.debe|hideZero|format_dinero}}
			</td>
			<td class="align-right">
			</td>
		</tr>
		{% endfor %}
		{% for reg in asiento.registroasiento_set|filter:'haber__gt=0'|order_by:'cuenta__codigo' %}
		<tr>
			<td></td>
			<td>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="{% url 'contable:libro-mayor:list' reg.cuenta.id %}">{{reg.cuenta.codigo}} - {{reg.cuenta.nombre}}</a>
			</td>
			<td class="align-right">
			</td>
			<td class="align-right">
				{{reg.saldo.haber|hideZero|format_dinero}}
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td></td>
			<td>{{asiento.descripcion}}<br />
				{% if asiento.datos != "" %}
				{% datos_asiento asiento.datos %}
				{% endif %}
			</td>
			<th class="align-right"><div style="border-bottom: 1px solid #000;">{{asiento.saldo.debe|format_dinero }}<div></th>
			<th class="align-right"><div style="border-bottom: 1px solid #000;">{{asiento.saldo.haber|format_dinero}}<div></th>
		</tr>
		{% endfor %}
		{% else %}
		<tr>
			<td colspan="4">
					{% if ejercicio.cuenta_set.count <= 0 %}
					<div class="alert alert-danger">
						<h3>No hay plan de cuentas {{ejercicio.ano}}</h3>
						<br />
						<p>Debe configurar un <a href="{% url 'contable:plan-de-cuentas:list' ejercicio_id %}" class="btn btn-success btn-minier">Plan de Cuentas {{ejercicio.ano}}</a></p>
					</div>
					{% else %}
					<div class="alert alert-warning">
						<h3> No hay asientos en el libro </h3>
						<br />
						{% if perms.contable.add_asiento %}
							<a class="btn btn-success btn-minier" href="{% url 'contable:asiento-create' ejercicio_id %}">Agregar Primer Asiento</a>
						{% endif %}
					</div>
					{% endif %} 
			</td>
		</tr>
		{% endif %}
	</tbody>
</table>