{% load contable_extras %}<!DOCTYPE html>
<html lang="es">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	</head>
	<body>
		<table>
			<thead>
				<tr>
					<th width="1">Fecha</th>
					<th>Asiento</th>
					<th width="100px">Debe</th>
					<th width="100px">Haber</th>
				</tr>
			</thead>
			<tbody>
				{% if objects_list %}
				{% for asiento in objects_page %}
				<tr>
					<th class="nowrap">{{asiento.imputacion}}</th>
					<th class="align-center">
						Asiento N° {{asiento.numero}}
					</th>
					<th></th>
					<th></th>
				</tr>
				{% for reg in asiento.registroasiento_set|filter:'debe__gt=0'|order_by:'cuenta__codigo' %}
				<tr>
					<td></td>
					<td>
						{{reg.cuenta.codigo}} - {{reg.cuenta.nombre}}
					</td>
					<td class="align-right">
						{{reg.saldo.debe|hideZero|format_dinero}}
					</td>
					<td class="align-right">
					</td>
				</tr>
				{% endfor %}
				{% for reg in asiento.registroasiento_set|filter:'haber__gt=0'|order_by:'cuenta__codigo' %}
				<tr>
					<td></td>
					<td>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						{{reg.cuenta.codigo}} - {{reg.cuenta.nombre}}
					</td>
					<td class="align-right">
					</td>
					<td class="align-right">
						{{reg.saldo.haber|hideZero|format_dinero}}
					</td>
				</tr>
				{% endfor %}
				<tr>
					<td></td>
					<td>{{asiento.descripcion}}<br />
						{% if asiento.datos != "" %}
						{% datos_asiento asiento.datos %}
						{% endif %}
					</td>
					<th class="align-right"></th>
					<th class="align-right"></th>
				</tr>
				{% endfor %}
				
				{% endif %}
			</tbody>
		</table>
	</body>
</head>