{% load contable_extras %}
<table id="simple-table" class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<td>Cuenta</td>
			<td>Debe</td>
			<td>Haber</td>
			<td>Saldo</td>
		</tr>
	</thead>
	<tbody>
		{% for cuenta in cuentas %}
		{% renderCuentaLine cuenta%}
		{% endfor %}
	</tbody>
</table>