{% extends "generic_views/base.html" %}
{% load staticfiles %}
{% block head_extra %}
	<script src="{% static 'generic_views/bootstrap-treeview-master/js/bootstrap-treeview.js' %}"></script>
	<script src="{% static 'generic_views/tree_view_config.js' %}"></script>	
{% endblock %}
{% block page-content %}
{% if perms.contable.add_cuenta %}
	<a class="btn btn-success btn-minier" href="{% url 'contable:plan-de-cuentas:create' ejercicio.pk %}" data-toggle="modal" data-target="#modal">Agregar Cuenta</a>
	<a class="btn btn-success btn-minier" href="{% url 'contable:copiar-plan-de-cuentas' ejercicio.pk %}" data-toggle="modal" data-target="#modal">Obtener cuentas desde otro ejercicio</a>
	<a class="btn btn-success btn-minier" href="{% url 'contable:resultado-plan-de-cuentas' ejercicio.pk %}">Crear Asiento de Resultado</a>
	<a class="btn btn-success btn-minier" href="{% url 'contable:cierre-plan-de-cuentas' ejercicio.pk %}">Crear Asiento de Cierre</a>
	<a class="btn btn-success btn-minier" href="{% url 'contable:apertura-plan-de-cuentas' ejercicio.pk %}">Crear Asiento de Apertura</a>
	<a class="btn btn-success btn-minier" href="{% url 'contable:exportar-plan-de-cuentas' ejercicio.pk %}">Exportar JSON</a>
	<a class="btn btn-success btn-minier" href="{% url 'contable:importar-plan-de-cuentas' ejercicio.pk %}" data-toggle="modal" data-target="#modal">Importar JSON</a>
{% endif %}
{% include "contable/plan_de_cuentas_table.html" %}
<div class="modal fade in" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" success="">
	<div class="modal-dialog">
		<div class="modal-content">
		</div>
	</div>
</div>
<script type="text/javascript" src="{% static 'generic_views/widgets_init.js' %}">
</script>
{% endblock %}