{% load contable_extras %}
<tr style="font-size:{{font_size}}px">
	<td>

		<div class="col-xs-6 col-xs-offset-{{nivel}}">
			<div class="dropdown-hover">
			{{cuenta.codigo}} - {{cuenta.nombre}}
			<ul class="dropdown-menu">
			<li><a href="{% url 'contable:libro-mayor:list' cuenta.id %}">Libro Mayor</a></li>
			{% if not cuenta.imputable %}
			<li>
				<a href="{% url 'contable:plan-de-cuentas:create' cuenta.ejercicio_id %}?parent={{cuenta.id}}" data-toggle="modal" data-target="#modal">Agregar Cuenta</a>
			</li>
			{% endif %}
			<li>
				<a href="{% url 'contable:plan-de-cuentas:update' cuenta.ejercicio_id cuenta.id %}" data-toggle="modal" data-target="#modal">Editar Cuenta</a>
			</li>
			{% if cuenta.saldo.isZero %}
			<li>
				<a href="{% url 'contable:plan-de-cuentas:delete' cuenta.ejercicio_id cuenta.id %}" data-toggle="modal" data-target="#modal">Eliminar Cuenta</a>
			</li>
			{% endif %}
			</ul>
			</div>
		</div>

	</td>
	<td class="align-right">
		{{saldo.debe|hideZero|format_dinero }}
	</td>
	<td class="align-right">
		{{saldo.haber|hideZero|format_dinero}}
	</td>
	<td class="align-right">
		{% if not saldo.isZero %}
		<span style="color:{{font_color}}">
			{{saldo.resultado|format_dinero}}
		</span>
		{% endif %}
	</td>
</tr>