{% extends "generic_views/base.html" %}
{% load staticfiles %}
{% load contable_extras %}
{% load render_paginator %}
{% block head_extra %}


	<script src="{% static 'generic_views/bootstrap-treeview-master/js/bootstrap-treeview.js' %}"></script>
	<script src="{% static 'generic_views/tree_view_config.js' %}"></script>	

<style type="text/css">
	

	td { position: relative; vertical-align: middle;}

		tr.strikeout td:before {
		  content: " ";
		  position: absolute;
		  top: 50%;
		  left: 0;
		  border-bottom: 1px solid #111;
		  width: 100%;
		}


	.line-through, .line-through:hover{
		text-decoration:line-through;
		color:#F00;
	}



</style>
{% endblock %}
{% block page-content %}
<div class="row">
	<div class="col-xs-12">
		<form action="" method="POST" id="asiento-form">
			{% csrf_token %}
			{% if form.non_field_errors or formset.non_form_errors%}
				<div class="row col-xs-12 alert alert-danger">
				{{ form.non_field_errors }}
				{{ formset.non_form_errors }}
				</div>
			{% endif %}
			{% for hidden in form.hidden_fields %}
			{{ hidden }}

			{% endfor %}
			<table id="asiento-table" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th width="1">Fecha</th>
						<th>Asiento</th>
						<th width="100px">Debe</th>
						<th width="100px">Haber</th>
					</tr>
				</thead>
				<tbody>
					
					<tr>
						<th nowrap>{{form.imputacion}}</th>
						<th class="align-center">
							
						{% if form.ejercicio.errors %}
							<div class="row col-xs-12 alert alert-danger">
							{{form.ejercicio.errors}}
							</div>
						{% endif %}
						{% if form.numero.errors %}
							<div class="row col-xs-12 alert alert-danger">
							{{form.numero.errors}}
							</div>
						{% endif %}
						{% if  form.tipo.errors %}
							<div class="row col-xs-12 alert alert-danger">
							{{form.tipo.errors}}
							</div>
						{% endif %}
							Asiento N° {{form.numero}} - Tipo: {{form.tipo}}
						</th>
						<th></th>
						<th></th>
					</tr>
					{{ formset.management_form }}
					{% for r_form in formset %}
					{% include "contable/forms/registro_asiento_line.html" with form=r_form %}
					{% endfor %}
					<tr id="last_line">
						<td><a class="btn btn-minier btn-success " href="javascript:add_line()"><i class="fa fa-plus"></i></a></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td>{{form.descripcion}}</td>
						<th class="align-right"><div style="border-bottom: 1px solid #000;">{{asiento.saldo.debe|format_dinero }}<div></th>
						<th class="align-right"><div style="border-bottom: 1px solid #000;">{{asiento.saldo.haber|format_dinero}}<div></th>
					</tr>
				</tbody>
			</table>
			<button type="submit" class="btn btn-success btn-block">REGISTRAR</button>
		</form>
	</div>
</div>
{% endblock %}
{% block javascript %}

<script type="text/html" id="empty_form">
	
</script>
<script type="text/javascript">
empty_form = "{% filter escapejs %}{% include 'contable/forms/registro_asiento_line.html' with form=formset.empty_form %}{% endfilter %}";

function add_line(){
	var form_idx = $('#id_registroasiento_set-TOTAL_FORMS').val();
    $('#last_line').before(empty_form.replace(/__prefix__/g, form_idx));
    $('#id_registroasiento_set-TOTAL_FORMS').val(parseInt(form_idx) + 1);
}


function updateFormElementIndices() {
  var totalFormsField = $('#id_registroasiento_set-TOTAL_FORMS');
  lines = $(".registro_asiento-line");
  lines.each(function(i, el){
  	$(el).html($(el).html().replace(/registroasiento_set-(\d+)/g, "registroasiento_set-" + i));
  });
}

$("#asiento-table").delegate("input[id$='DELETE']", "click", function(e, el){
		index = $(this).attr("id").match(/\d+/);
		$("input[id^='id_registroasiento_set-"+index+"'").toggleClass( "line-through", this.checked );
		$("div[id='id_registroasiento_set-"+index+"-cuenta_selected'").toggleClass( "line-through", this.checked );
		
});

$(document).ready(function(){
	$("#asiento-table").find("input[id$='DELETE']").each(function(i, el){
		index = $(this).attr("id").match(/\d+/);
		$("input[id^='id_registroasiento_set-"+index+"'").toggleClass( "line-through", this.checked );
		$("div[id='id_registroasiento_set-"+index+"-cuenta_selected'").toggleClass( "line-through", this.checked );
	});
});


function BalancearAqui(input_selector){
	var debe = 0;
	var haber = 0;
	input = document.getElementById(input_selector);

	$("input[id$='debe']").each(function(i, el){
		index = el.id.match(/\d+/);
		$del = $("#id_registroasiento_set-"+index+"-DELETE");
		if (!$del.prop('checked')){
			debe+=Number(el.value);	
		}
	});
	$("input[id$='haber']").each(function(i, el){
		index = el.id.match(/\d+/);
		$del = $("#id_registroasiento_set-"+index+"-DELETE");
		if (!$del.prop('checked')){
			haber+=Number(el.value);
		}
	});

	if ($(input).attr("id").search("debe") > 0){
		input.value = Number(input.value) - debe + haber;
	}else{
		input.value = Number(input.value) + debe - haber;
	}
	$(input).change()
}

$(document).delegate("input[id$='debe']","change",function(el){
	id = $(this).attr("id");
	index = id.match(/\d+/);
	monto_debe = Number($(this).val());
	if (monto_debe != 0){
		$("input[id='id_registroasiento_set-"+index+"-haber']").val(0);
	}
	
	$("#registroasiento_set-"+index+"-col-offset").removeClass("col-xs-offset-2");
});

$(document).delegate("input[id$='haber']","change",function(el){
	id = $(this).attr("id");
	index = id.match(/\d+/);
	monto_haber = Number($(this).val());
	if (monto_haber != 0){
		$("input[id='id_registroasiento_set-"+index+"-debe']").val(0);
		$("#registroasiento_set-"+index+"-col-offset").addClass("col-xs-offset-2");
	}else{
		$("#registroasiento_set-"+index+"-col-offset").removeClass("col-xs-offset-2");
	}
	
});

</script>

<script type="text/javascript" src="{% static 'generic_views/widgets_init.js' %}">
</script>

{% endblock %}