{% extends "generic_views/base.html" %}
{% load staticfiles %}
{% load contable_extras %}
{% load render_paginator %}
{% block head_extra %}
{% endblock %}
{% block page-content %}
<div class="row">
	<div class="col-xs-12">
		<form action="" method="POST">
		<button class="btn btn-danger btn-block">CONFIRMAR ELIMINACIÓN</button>
		{% csrf_token %}
		<input type="hidden" name="confirm" value="1" />
		</form>
		{% include "contable/libro_diario_table.html" %}
	</div>
</div>
{% endblock %}
{% block javascript %}
{% endblock %}