{% load generic_views_tags %}
<tr class="registro_asiento-line">
	<td>
		{% for hidden in form.hidden_fields %}
		{{ hidden }}
		{% endfor %}
		{{ form.DELETE }}
	</td>
	<td>
	{% if form.non_field_errors or form.cuenta.errors %}
		<div class="col-xs-12 alert alert-danger">
		{{form.non_field_errors }}
		{{form.cuenta.errors }}
		</div>
	{% endif %}
	<div id="{{form.prefix}}-col-offset" class="col-xs-10 {%if form.haber.value > 0 %}col-xs-offset-2{% endif %}">
		{% contextfield form.cuenta %}
	</div>
	</td>
	<td class="align-right">
		{{ form.debe.errors }}
		<span class="input-icon input-icon-left">
			{{form.debe}}
			<i title="Balancear Aquí" class="ace-icon fa fa-balance-scale green" onclick="javascript:BalancearAqui('{{ form.debe.auto_id }}');"></i>
		</span>
	</td>
	<td class="align-right">
		{{form.haber.errors }}
		<span class="input-icon input-icon-left">
			{{form.haber}}
			<i title="Balancear Aquí" class="ace-icon fa fa-balance-scale green" onclick="javascript:BalancearAqui('{{ form.haber.auto_id }}');"></i>
		</span>

		
	</td>
</tr>